<form action="/cds" method="post">
  <div class='form-group'>
    <label for='user-cd'>New cd:</label>
    <input id='user-cd' name='user-cd' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>
