<h1>Add an artist</h1>

<form action="/artists" method="post">
  <label for="artist-name">Artist name</label>
  <input id="artist-name" name="artist-name" type="text">
  <button type="submit" class="btn btn-primary">Add artist</button>
</form>
